.x-menu.x-menu-horizontal .x-menu-list 
{        	
	background-color: #ffffff;
    overflow: hidden;
}
.x-menu.x-menu-horizontal .x-menu-list .x-menu-list-item 
{        	
    float: left;
}
.x-menu.x-menu-horizontal .x-menu-list .x-menu-list-item .x-menu-item-arrow {            
    background-color:#ffffff;            
    font-weight:bold;
    font-size:13px
}
.x-button
{
    font-family: Times New Roman;
    font-size:14pt;
    font-weight:bold;
}